<div class="container">

    <div ng-repeat="(key,links) in sitemap">
        <h3>{{key}}</h3>
        <ul>
            <li ng-repeat='link in links'><a href="#{{link.path}}">{{link.name}}</a></li>
        </ul>

    </div>

</div>


<div class="news-item">
                                    <span class="fa fa-calendar news-item-icon"></span>
                                    <a href="#">
                                        DIAMOND JUBILEE ALUMNAE MEET, 7th Feb.2013
                                    </a>
                                </div>
                                <div class="news-item ">
                                    <span class="fa fa-calendar news-item-icon"></span>
                                    <a href="#">
                                        ALUMNAE MEET INVITATION
                                    </a>
                                </div>
                                <div class="news-item">
                                    <span class="fa fa-calendar news-item-icon"></span>
                                    <a href="#">
                                        BROUCHURE
                                    </a>
                                </div>
                                <div class="news-item">
                                    <span class="fa fa-bell news-item-icon"></span>
                                    <a href="#">
                                        18th April, 2013(Results)
                                        The II, IV & VI semester supplementary examinations will begin from 26th April 2013 onwards
                                    </a>
                                </div>

                                <div class="news-item">
                                    <span class="fa fa-bell news-item-icon"></span>
                                    <a href="#">
                                        18th April, 2013(Results)
                                        On 24th April 2013 I, III and V Semester supplementary results will be declared in the college at 5.p.m
                                    </a>
                                </div>
                                <div class="news-item">

                                    <span class="fa fa-bell news-item-icon"></span>
                                    <a href="#">
                                        The final year students who are willing to apply for revaluation can apply by 23rd of April 2013
                                    </a>
                                </div>
                                <div class="news-item">

                                    <span class="fa fa-bell news-item-icon"></span>
                                    <a href="#">
                                        The students who failed in II, IV&VI Semesters should pay the supplementary Examination fee by 25th of April 2013
                                    </a>
                                </div>
